@font-face {
  font-family: 'Roboto';
  src: url('../font/roboto/Roboto-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.ant-table-thead > tr > th {
  text-transform: uppercase;
}

.ant-menu-horizontal {
  border-bottom: 0
}

.ant-menu-title-content {
  font-size: 13px !important;
}